<!-- footer avec une partie de la navbar -->
    <footer class="page-footer font-small blue pt-4">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-4" id="footer">
                    <h3 class="cardTitle">Contact</h3>
                    <p>Vous pouvez nous contacter par mail à l'adresse suivante : <br> <a href="mailto:vincentparrot83@gmail.com">
                    <img src="https://img.icons8.com/color/48/000000/email.png"/> </a></p>
                    <p>Vous pouvez nous contacter par téléphone au : <br> <a href="tel:+33769717813"><img src="https://img.icons8.com/color/48/000000/phone.png"/></a></p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-4" id="footer">
                    <h3 class="cardTitle">Retrouvez nous sur les réseaux sociaux</h3>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.facebook.com/profile.php?id=100095026684675"><img src="https://img.icons8.com/color/48/000000/facebook.png"/></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/VinceParrot783"><img src="https://img.icons8.com/color/48/000000/twitter.png"/></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/"><img src="https://img.icons8.com/color/48/000000/instagram-new.png"/></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/"><img src="https://img.icons8.com/color/48/000000/linkedin.png"/></a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-4" id="footer">
                    <h3 class="cardTitle">Nous situer</h3>
                    <!--Google map garage situé à Toulouse-->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2888.798658996872!2d1.448297315494823!3d43.6040967791235!2m3!1f0!2f39.99999897760281!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd55e9b6d6a6e3d1%3A0x2b6e5a2b0f5d1d5b!2sGarage%20Vincent%20Parrot!5e0!3m2!1sfr!2sfr!4v1621535156541!5m2!1sfr!2sfr" width="350px" height="300px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </footer>



    