<form method="post" action="{{ path('app_testimonial_delete', {'id': testimonial.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet avis?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ testimonial.id) }}">
    <button class="btn btn-danger">Supprimer l'avis</button>
</form>
