<form method="post" action="{{ path('app_estimate_delete', {'id': estimate.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce devis?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ estimate.id) }}">
    <button class="btn btn-danger">Supprimer le devis</button>
</form>
