{% extends 'base.html.twig' %}

{% block title %}Nouveau devis{% endblock %}

{% block body %}
    <h2 class="subtitle">Demande de devis</h1>

    {{ include('estimate/_form.html.twig') }}

    <a href="{{ path('app_home') }}" class="btn btn-warning">Retour à l'accueil</a>
    
{% endblock %}
